html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/bg.jpg');
  background-size: cover;
  text-align: center;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #fff;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

img {
  height: 150px;
  animation: rotation 3s linear infinite;
}

.conteneur {
  top: 60px;
  position: relative;
  background: #000;
  border: 15px solid #ccc;
  width: 80vw;
  height: auto;
  margin: auto;
}

.controles {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px 0px;
}

.controles i {
  font-size: 90px;
  color: #333;
  transition: color 300ms;
}

.controles i.lumiere {
  color: #fff;
}

.controles button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 2px 2px grey;
  margin: 20px;
  transition: all 300ms;
  cursor: pointer;
  position: relative;
  outline: none;
}

.controles button:hover {
  box-shadow: 0px 2px 2px -2px grey;
}

.controles .red button {
  background-color: red;
}

.controles .red button:hover {
  background-color: darkred;
}


.controles .green button {
  background-color: green;
}

.controles .green button:hover {
  background-color: darkgreen;
}

.controles .red, .controles .green {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
